:root{
    --primary:#0B3C5D;
    --secondary:#F4A261;
    --light:#F8F9FA;
    --dark:#333333;
}

body{
    font-family:Roboto,sans-serif;
    margin:0;
    background:var(--light);
    color:var(--dark);
    line-height:1.7;
}

header{
    background:var(--primary);
    color:white;
    text-align:center;
    padding:2rem;
}

h1,h2,h3{
    font-family:Poppins,sans-serif;
}

.logo img {
    max-width: 180;
    height: auto;
}

main{
    max-width:1100px;
    margin:auto;
    padding:2rem;
}

section{
    background:white;
    margin:2rem 0;
    padding:1.5rem;
    border-radius:10px;
    box-shadow:0 4px 10px rgba(0,0,0,.1);
}

table{
    width:100%;
    border-collapse:collapse;
}

table,th,td{
    border:1px solid #ddd;
}

th{
    background:var(--primary);
    color:white;
}

th,td{
    padding:12px;
}

pre{
    background:#efefef;
    padding:1rem;
    overflow:auto;
}

footer{
    background:var(--primary);
    color:white;
    text-align:center;
    padding:1rem;
}